---
layout: default
title: T-Mobile just screwed up so bad.
fbtitle: T-Mobile just leaked millions of Social Security numbers.
fbimage: https://www.youbetrayedus.org/images/experianshare.jpg
description: 'Now they''re trying to pay Congress to get out of trouble.'
---
<div class="cta">
    <div class="copy">
    <h1>T-Mobile let millions of their customers get hacked. Now they're lobbying to get away with it?</em></h1>
    <p>
       T-Mobile put their customers at risk by trusting Experian to do credit checks for them despite that company’s history of over 100 data breaches. As a result, the names, addresses, birth dates, and Social Security numbers of 15 million T-Mobile customers are now available on the black market for identity thieves to purchase and abuse. But instead of looking at ways to fix their security issues, T-Mobile is waffling on a bill in Congress known as CISA that would ensure they are not liable for having poor security and getting hacked. Just this week they dropped out of a major trade association seemingly because they criticized the bill. That's no way to stand by your customers and their private data.
    </p>

    </div>
    <div class="highlight">
        <div id="action">
            <h3>Sign our petition to T-Mobile asking them to stand up for their customers’ privacy and oppose CISA.</h3>
            <div id="petition">CISA is an assault on Internet privacy and it will actually make cybersecurity worse, not better. If you care about protecting your customers and preventing future hacks you should make it clear that you oppose CISA and any other attempt to give corporations immunity for negligent security in exchange for handing over data to the government.  </div>
            <script type="text/javascript">
                new EmailPetitionController({
                    el:         '#petition',
                    page_id:    'youbetrayedus-experian',
                    buttonText: 'Sign now!',
                    required: ['email', 'zip', 'first_name'],
                    orgs: { fftf: '<a href="https://www.fightforthefuture.org">Fight for the Future</a> will deliver your signature and send you campaign updates. <a href="https://www.fightforthefuture.org/privacy">Privacy</a>' },
                    onSend: function(formData)
                    {
                        document.getElementById('action').style.display = 'none';
                        document.getElementById('thanks').style.display = 'block';

                        new CallModalController({
                            required:   ['email', 'name', 'zip'],
                            campaign:   'cisa-cloture-fax',
                            zip:        formData.zip,
                            cta:        'Congress needs to know that it doesn\'t matter what companies want—CISA isn\'t going to fly with the American people.',
                            callScript: 'Please oppose CISA, the Cybersecurity Information Sharing Act. CISA won\'t fix the cybersecurity problems we face in the U.S.—it will only lead to more warrantless mass surveillance of millions of Americans. We need real cybersecurity legislation, and it\'s not CISA.',
                            shareText:  'We\'re up against some of the most powerful corporate lobbyists in the country, but that hasn\'t stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.',
                        });
                    }
                });
            </script>
        </div>
        <div id="thanks" style="display: none;">
            <h3>Thanks for taking action!</h3>
            <p>
                We're up against some of the most powerful corporate lobbyists in the country, but that hasn't stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.
            </p>
            <div class="share">
                <button class="social facebook">Share this page</button>
                <button class="social twitter">Tweet this page</button>
            </div>
        </div>
    </div>
</div>
<div class="logos">
    <img src="../images/tmobileceo.jpg"/>
</div>




<div class="content">
<section class="copy">
    <!--<h2><a href="/heroku"><strong>We are boycotting Salesforce / Heroku. Click here to learn more.</strong></a></h2>-->

    <h3>It's time for T-Mobile to show that they care about protecting their customers. </h3>
    <p>
        Supporting CISA is probably the most anti-consumer response T-Mobile could have to their recent hack. It would not only give them immunity for lax security, but it would also make future hacks more likely and put more private communications information into the hands of the NSA and local law enforcement. T-Mobile says they take their customer’s privacy “VERY seriously.” But these hacks start with companies leaving the front door open. Instead of lobbying to make sure they don't have to take responsibility for poor data practices, they should focus on fixing their security. If they don’t come out against CISA and continue to make moves towards embracing it, no one should trust them.
    </p>
</section>
{% include bullets.html %}
    <h3>Learn more about CISA</h3>
    <ul class="learn-more">
        <li>
            <a href="https://www.decidethefuture.org" target="_blank">
                See where your Congresspeople stand on surveillance legislation
            </a>
        </li>
        <li>
            <a href="https://www.eff.org/deeplinks/2015/09/amendments-cisa-cybersecurity-bill-fail-all-regards" target="_blank">EFF
                explains why the Amendments won't fix CISA</a>
        </li>
        <li>
            <a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank">55
                security experts, academics, and civil groups explain why
                they oppose CISA</a>
        </li>
        <li>
            <a href="https://www.faxbigbrother.com/#whatiscisa">Fax Big
                Brother: why CISA sucks for online privacy</a>
        </li>
    </ul>
</div>
<div class="content dark">
    <section class="copy">
    <h2>Dial <a href="tel://19852222472">985-222-CISA</a> to call Congress now.</h2>
    <p>
        Internet users demand <em>meaningful</em> cybersecurity legislation, not more mass
        surveillance. Millions have already spoken out, and there's still time to
        send Congress a clear message. Please call your representatives, and share this page
        to spread the word!
    </p>
    {% include share.html %}
    </section>
</div>
<div class="social-buttons">
    <a target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.youbetrayedus.org/tmobile/" class="facebook">
        Share
    </a>

    <a target="_blank" href="https://twitter.com/intent/tweet?related=fightfortheftr&text=.%40TMobile%20leaked%20millions%20of%20social%20security%20numbers.%20Now%20they're%20trying%20to%20pay%20Congress%20to%20get%20out%20of%20trouble.%20https%3A%2F%2Fwww.youbetrayedus.org%2Ftmobile%20%23CISA" class="twitter">
        Tweet
    </a>

    <a target="_blank" href="mailto:?subject=T-Mobile CEO lobbying Congress to get out of trouble&body=https%3A%2F%2Fwww.youbetrayedus.org%2Ftmobile%2F" class="email">
        Email
    </a>
</div>
