---
layout: default
title: T-Mobile just screwed up so bad.
description: Now they’re trying to pay Congress to get out of trouble.
fbtitle:  Check out T-Mobile’s slimy response to millions of their customers being hacked.
fbimage: https://www.youbetrayedus.org/images/experianshare.jpg
twittertext: .@TMobile leaked millions of social security numbers. Now they’re trying to pay Congress to get out of trouble.
---
<div class="cta">
    <div class="copy">
    <h1>T-Mobile let millions of their customers get hacked. Now they're lobbying to get away with it?</em></h1>
    <p>
       T-Mobile put their customers at risk by trusting Experian to do credit checks for them despite that company’s history of over 100 data breaches. As a result, the names, addresses, birth dates, and Social Security numbers of 15 million T-Mobile customers are now available on the black market for identity thieves to purchase and abuse. But instead of looking at ways to fix their security issues, T-Mobile is waffling on a bill in Congress known as CISA that would ensure they are not liable for having poor security and getting hacked. Just this week they dropped out of a major trade association seemingly because they criticized the bill. That's no way to stand by your customers and their private data.
    </p>

    </div>
    <div class="highlight">
        <div id="action">
            <h3>Sign our petition to T-Mobile asking them to stand up for their customers’ privacy and oppose CISA.</h3>
            <div id="petition">CISA is an assault on Internet privacy and it will actually make cybersecurity worse, not better. If you care about protecting your customers and preventing future hacks you should make it clear that you oppose CISA and any other attempt to give corporations immunity for negligent security in exchange for handing over data to the government.  </div>
            {% include petition.html target='tmobile' %}
        </div>
        <div id="thanks" style="display: none;">
            <h3>Thanks for taking action!</h3>
            <p>
                We're up against some of the most powerful corporate lobbyists in the country, but that hasn't stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.
            </p>
            <div class="share">
                <button class="social facebook">Share this page</button>
                <button class="social twitter">Tweet this page</button>
            </div>
        </div>
    </div>
</div>
<div class="logos">
    <img src="../images/tmobileceo.jpg"/>
</div>




<div class="content">
<section class="copy">

    <h3>It's time for T-Mobile to show that they care about protecting their customers. </h3>
    <p>
        Supporting CISA is probably the most anti-consumer response T-Mobile could have to their recent hack. It would not only give them immunity for lax security, but it would also make future hacks more likely and put more private communications information into the hands of the NSA and local law enforcement. T-Mobile says they take their customer’s privacy “VERY seriously.” But these hacks start with companies leaving the front door open. Instead of lobbying to make sure they don't have to take responsibility for poor data practices, they should focus on fixing their security. If they don’t come out against CISA and continue to make moves towards embracing it, no one should trust them.
    </p>
</section>
{% include bullets.html %}
{% include learn-more-bullets.html %}
</div>
{% include call-congress.html %}
{% include social-buttons.html %}
