---
title: 'Facebook: The Secret Force Behind CISA?'
fbtitle: Facebook&rsquo;s latest violation of user privacy is by far the worst yet.
description: A new surveillance law in their name.
fbimage: https://youbetrayedus.org/images/zuck.jpg
twittertext: Facebook&rsquo;s latest violation of user privacy is by far the worst yet.
---
<div class="cta">
    <div class="copy">
        <h1>
            Facebook may be the secret force behind surveillance bill
            &ldquo;CISA&rdquo;
        </h1>

        <p>
            We've gotten information that Facebook is secretly lobbying for a
            dirty bill called &ldquo;CISA&rdquo; that would give them
            impunity for violating their users&rsquo; privacy&mdash;as long
            as they hand over user data to the government. Most tech companies
            are against it for privacy reasons, but apparently Facebook is
            working behind the scenes to make sure it passes.
        </p>

        <p>
            Mark Zuckerberg once called Facebook users &ldquo;dumb f*cks&rdquo;
            for trusting him with their data. Now he&rsquo;s trying to take advantage of us. If CISA
            passes, all your photos, posts, relationships, and likes will have a
            path to government databases.
        </p>

    </div>
    <div class="highlight">
        <div id="action">
            <h3>
                Tell Facebook to stop backstabbing the Internet and oppose CISA. 
            </h3>

            <div id="petition">
                <span>
                    CISA is an assault on privacy and it will actually make cybersecurity worse, not better. If you care about your customers you should make it clear that you oppose CISA and any other attempt to give corporations immunity for negligent security in exchange for handing over user data to the government.
                </span>
            </div>
            {% include petition.html target='facebook' %}
        </div>
        {% include thanks.html %}
    </div>
</div>


<figure class="logos">
    <img src="../images/zuck.jpg"/>
    <figcaption>
        Justin Sullivan / Getty Images
    </figcaption>
</figure>

<div class="content">
    <section class="copy">
        <h2>
            We knew Facebook didn&rsquo;t respect user privacy, but passing a
            new surveillance law in their name is some next level isht.
        </h2>
         <p>
            It didn't make any sense. This bill is toxic. The public hates it and tons of tech companies are against it, but Congress keeps trying to ram it through. Now that we know that Facebook lobbyists are working behind the scenes to get it passed, it makes more sense why Congress keeps coming back to it. 
        </p>

        <p>
            Facebook&rsquo;s chief Senate lobbyist, Myriah Jordan, worked as General Counsel for CISA's sponsor, Senator Richard Burr, right until taking the job at Facebook. These &ldquo;revolving door&rdquo; connections give companies more power and influence than ordinary people could ever have, and it&rsquo;s part of the reason why companies like Facebook think they can get whatever they want out of Washington.
        </p>

        <p>
            Facebook wants CISA because they want immunity from privacy lawsuits, but if companies like Apple, Twitter, and Reddit can do the right thing by their users and oppose CISA, Facebook can too.
        </p>
    </section>
    {% include bullets.html %}
    {% include learn-more-bullets.html %}
</div>
{% include call-congress.html %}
{% include social-buttons.html %}
