---
title: Experian just screwed up so bad.
fbtitle: Experian just leaked millions of social security numbers.
fbimage: https://www.youbetrayedus.org/images/experianshare.jpg
description: Now they’re trying to pay Congress to get out of trouble.
twittertext: .@Experian just put 15 million @Tmobile users in danger. Now they’re asking the government for legal immunity?
---
<div class="cta">
    <div class="copy">
    <h1>Experian's security negligence put millions at risk of identity theft.<em>Now they're lobbying Congress to get off the hook.</em></h1>
    <p>
        Experian should have used basic security practices to protect our data; they didn't. Now, 15 million T-Mobile customers’ sensitive information has been stolen by identity thieves. And this isn't the first time. In fact, Experian has been breached more than 100 times. But instead of improving their security, Experian is spending millions lobbying Congress to pass CISA, a bill that could give them total legal immunity when they get hacked, as long as they share your personal information with the government. If they get away with it, we’ll never be able to hold companies accountable when their negligence puts our safety and privacy at risk. We need to draw a line in the sand, right now.
    </p>

    </div>
    <div class="highlight">
        <div id="action">
            <h3>Sign the petition calling for Experian&apos;s CEO to resign:</h3>
            <div id="petition">Millions of people trust Experian with their most personal information, and they&apos;ve violated that trust again and again. By spending money lobbying for legal immunity through CISA instead of improving their own security, they&apos;ve betrayed and endangered every customer they&apos;ve ever had. We demand that Experian&apos;s CEO Brian Cassin immediately resign, and that the company stop lobbying for bills like CISA and spend that money improving their security to prevent more catastrophes in the future.</div>
            {% include petition.html target='experian'%}
        </div>
        <div id="thanks" style="display: none;">
            <h3>Thanks for taking action!</h3>
            <p>
                We're up against some of the most powerful corporate lobbyists in the country, but that hasn't stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.
            </p>
            <div class="share">
                <button class="social facebook">Share this page</button>
                <button class="social twitter">Tweet this page</button>
            </div>
        </div>
    </div>
</div>
<div class="logos">
    <img src="../images/doucheceo.jpg"/>
</div>




<div class="content">
<section class="copy">
    <!--<h2><a href="/heroku"><strong>We are boycotting Salesforce / Heroku. Click here to learn more.</strong></a></h2>-->
    <h2>CEO Brian Cassin puts his profits above your safety by funding political corruption.</h2>
    <p>
        Under Cassin's leadership, Experian has spent millions of dollars lobbying Congress
        through cash donations and Political Action Committees. They've pushed legislation that would
        <a href="https://www.washingtonpost.com/news/the-switch/wp/2015/04/15/why-this-national-data-breach-notification-bill-has-privacy-advocates-worried/" target="_blank">weaken data breach notification regulations</a>.
        Their top recipients in the House of Representatives all voted in favor of
        <a href="https://www.congress.gov/bill/114th-congress/house-bill/1560">PCNA</a>,
        a spying bill that would allow them to share customer information with the
        government. And now they're supporting CISA, a bill that could
        <a href="https://www.decidethefuture.org" target="_blank">broadly allow them to violate their privacy agreements</a> with customers and get
        immunity for leaking peoples' information.
    </p>
    <p>
        Brian Cassin has put the profits of his company above the well-being of his customers.
        His strategy is simple&mdash;by giving enough money to politicians, those politicians
        will hopefully pass legislation allowing him to duck responsibility for keeping his
        customers' data secure. Why bother improving their security when they can just
        legislate their way out of the messes they make?
    </p>
    <h3>But what's wrong with CISA?</h3>
    <p>
        CISA is not a real cybersecurity bill. It puts American citizens under more
        mass surveillance and opens up the doors to even more foreign cyber attacks.
    </p>
</section>
{% include bullets.html %}
{% include learn-more-bullets.html %}
</div>
{% include call-congress.html %}
{% include social-buttons.html %}
