---
title: Where does Hillary stand on cybersecurity?
fbtitle: Where does Hillary stand on cybersecurity?
fbimage: https://www.youbetrayedus.org/images/hillary.jpg
description: Her continued silence on CISA can’t be a good thing.
twittertext: Why won’t Hillary Clinton take a stand on CISA? https://pic.twitter.com/oRgzLWJ3Lf
---
<style type="text/css">
    ul.departments {
        padding: 0px;
        margin-bottom: 2rem;
        max-width: 700px;
    }
    .departments li {
        display: inline-block;
        margin: 0px 5px 5px 5px;
        vertical-align: top;
        /*background: rgba(255, 57, 71, .5);*/
        padding: 10px;
        font-size: 13px;
        line-height: 16px;
        color: #ddd;
        text-align: center;
        max-width: 120px;
        height: 120px;
    }
    @media only screen and (min-width: 599px) {
        .departments li {
            max-width: 150px;
            height: 150px;
        }
    }
    .departments li img {
        display: block;
        margin-bottom: 10px;
    }
</style>
<div class="cta">
    <div class="copy">
    <h1>
        Why won't Hillary Clinton take a stand on CISA?
        <em>("No comment.")</em>
    </h1>
    <p>
        In the midst of a partisan
        battle over her emails, and a new
        <a href="https://www.yahoo.com/tech/s/ap-enterprise-under-clinton-states-cybersecurity-suffered-083957956--politics.html" target="_blank">AP report</a>
on United States cybersecurity faltering under her lead as Secretary of State, a new problem has emerged: Hillary Clinton refuses to comment on CISA, a bill that would hurt cybersecurity to facilitate mass surveillance. At a time when CISA is being rejected by other politicians, the public, security experts, and even the industry it's supposed to protect, Clinton's continued silence shows she's in the wrong place on cybersecurity. If Clinton wants to reclaim her credibility, she needs to take a stand against CISA!
    </p>

    </div>
    <div class="highlight">
        <div id="action">
            <h3>Tell Clinton: Reject CISA and and stand up for *REAL* cybersecurity!</h3>
            <div id="petition">Dear Hillary Clinton,
Please take a stand against CISA, a dangerous surveillance bill that will only damage cybersecurity in the United States. Many citizens, experts, and companies have come out against this legislation because it will expose more Americans' private information to foreign hackers and government monitoring. Opposing CISA will show that your campaign is turning a corner on cybersecurity competence and working to protect people's civil liberties.
Thank you!</div>
            {% include petition.html target='hillary' %}
        </div>
        {% include thanks.html %}
    </div>
</div>
<div class="logos">
    <img src="../images/hillary.jpg"/>
</div>


<div class="content">
<section class="copy">
    <h2>CISA is the opposite of cybersecurity.</h2>
    <h3>Blanket immunity rewards security incompetence.</h3>
    <p>
        There are many ways a cybersecurity bill could protect us against foreign
        hackers. Congress could require government contractors to upgrade from outdated systems
        like Windows XP, or require companies to notify customers about security vulnerabilities
        if they can't be fixed within a reasonable amount of time. Basic security hygiene
        standards around storage of private user data could be established. Unfortunately
        CISA does none of these things, because government agencies and corporate lobbyists
        don't want to actually invest in network security.
        Instead, CISA lets companies get off the hook for the worst types of privacy
        violations, as long as they share data with the government.
    </p>
    <h3>Sharing data with the government puts us all at more risk.</h3>
    <p>
        CISA will put more private data in the hands of a staggeringly wide array of
        government agencies. Agencies like the Department of Commerce, the Department of Energy
        or the IRS are not equipped to safeguard this data—in fact,
        <a href="http://www.cnbc.com/2015/08/17/irs-breach-affected-2x-as-many-taxpayers-as-expected.html" target="_blank">all of</a>
        these
        <a href="http://www.usatoday.com/story/news/2015/09/09/cyber-attacks-doe-energy/71929786/" target="_blank">agencies</a>
        have been
        <a href="http://arstechnica.com/information-technology/2013/07/us-agency-baffled-by-modern-technology-destroys-mice-to-get-rid-of-viruses/" target="_blank">recently breached</a>.
        How would giving more private sector data to the U.S.
        government protect our cybersecurity when these government agencies can't even protect the data they already have?
    </p>
    <ul class="departments"><li>
            <img src="/images/deptcommerce.png"/>
        </li><li>
            <img src="/images/deptdefense.png"/>
        </li><li>
            <img src="/images/depthomelandsecurity.png"/>
        </li><li>
            <img src="/images/deptjustice.png"/>
        </li><li>
            <img src="/images/depttreasury.png"/>
        </li><li>
            <img src="/images/deptcommerce.png"/>
        </li><li>
            <img src="/images/deptodni.png"/>
        </li></ul>
    <h3>The FTC already has authority to regulate cybersecurity.</h3>
    <p>
        Cyber attacks aren't magic and hackers aren't wizards. Many of the biggest
        breaches could have been prevented if companies employed basic operational security
        measures, but companies have too much data and they're not taking security seriously.
        The FTC has the legal authority to investigate privacy breaches and impose
        fines and sanctions on companies in cases of negligence. The government already does it
        for oil spills, why not cybersecurity breaches? If companies faced strict penalties for
        exposing customers to identity theft, they would actually invest in security. This alone
        would stop hackers more than CISA ever could.
    </p>
</section>
</div>

{% include call-congress.html %}
{% include social-buttons.html %}
