---
title: Facebook: The Secret Force Behind CISA?
fbtitle: Facebook&rsquo;s latest violation of user privacy is by far the worst yet.
description: A new surveillance law in their name.
fbimage: ''
twittertext: ''
---
<div class="cta">
    <div class="copy">
        <h1>
            Facebook may be the secret force behind surveillance bill
            &ldquo;CISA&rdquo; in Congress
        </h1>

        <p>
            Talk on Capitol Hill is that Facebook is secretly lobbying for a
            horrible bill called &ldquo;CISA&rdquo;
            that would give companies legal immunity for violating their
            users&rsquo; privacy if they hand over data to the government. Most
            tech companies are against it for privacy reasons, but apparently
            Facebook is working behind the scenes to make sure it passes.
        </p>

        <p>
            Mark Zuckerberg once called Facebook users &ldquo;dumb
            f*cks&rdquo; for trusting him with their data. Now he&rsquo;s
            testing us. If CISA passes, all your photos, posts, relationships,
            and likes will have a path to government databases.
        </p>

    </div>
    <div class="highlight">
        <div id="action">
            <h3>
                Be honest with us, Mark. Is Facebook secretly lobbying for CISA?
            </h3>

            <div id="petition">
                <span>
                    CISA is an assault on Internet privacy and it will actually make cybersecurity worse, not better. If you care about protecting your customers and preventing future hacks you should make it clear that you oppose CISA and any other attempt to give corporations immunity for negligent security in exchange for handing over data to the government.
                </span>
            </div>
            {% include petition.html target='facebook' %}
        </div>
        {% include thanks.html %}
    </div>
</div>


<figure class="logos">
    <img src="../images/zuck.jpg"/>
    <figcaption>
        Justin Sullivan / Getty Images
    </figcaption>
</figure>

<div class="content">
    <section class="copy">
        <h2>
            We knew Facebook didn&rsquo;t respect user privacy, but passing a
            new surveillance law in their name is some next level isht.
        </h2>

        <p>
            Facebook&rsquo; chief lobbyist for the Senate, Myriah Jordan, worked
            for Senator Richard Burr, the senator who is sponsoring CISA, until
            taking the job at Facebook. These &ldquo;revolving door&rdquo;
            connections give companies more power and influence than ordinary
            people could ever have, and it&rsquo;s part of the reason why
            companies like Facebook can get whatever they want out of
            Washington.
        </p>

        <p>
            Facebook wants CISA because they want protection from privacy
            lawsuits, but if companies like Google, Twitter, and Apple can do
            the right thing, Facebook can too.
        </p>

    </section>
    {% include bullets.html %}
    {% include learn-more-bullets.html %}
</div>
{% include call-congress.html %}
