.content {
    padding: 3rem 1rem;
    text-align: center;

    h2, h3 {
        text-align: center;
        max-width: 80rem;
        margin: 0px auto 2rem auto;
    }
    h3 {
        font-weight: bold;
    }
    p {
        text-align: center;
        max-width: 85rem;
        margin: 0px auto 2rem auto;
        font-size: 1.8rem;
    }
    ul {
        list-style-type: disc;
        max-width: 70rem;
        margin: 0px auto 2rem auto;
        background: #fff;
        padding: 3rem 5rem;

        li {
            font-family: @quote-font;
            text-align: center;
            font-size: 2.1rem;
            margin: 0px auto 2rem auto;
        }
    }
    strong {
        font-weight: 600;
    }
    em {
        font-style: italic;
    }

    blockquote {
        font-family: @quote-font;
        text-align: center;
        font-size: 2.1rem;
        max-width: 90rem;
        margin: 0px auto 2rem auto;
        background: #fff;
        text-align: left;
        padding: 7rem 1rem;

        p {
            text-align: left;
            max-width: 70rem;
        }
    }

    &.dark {
        color: white;
        background: #2a3d59;

        a {
            color: white;
            font-weight: 600;
        }
    }


}
