<section class="whats-wrong">
    <ul class="copy">
        <li>
            All privacy policies effectively null and void. Companies can share any
            private user data with the government, without a warrant, as long as
            the government says it is being used for a “cybersecurity” purpose.
        </li>
        <li>
            In exchange, companies are given blanket immunity from civil and criminal
            laws, like fraud, money laundering, or illegal wiretapping (if a
            violation was committed or exposed in the process of sharing data).
        </li>
        <li>
            Data is shared with a wide array of government agencies, from the FBI
            and NSA, to the IRS and local law enforcement. Many of these agencies
            have been breached within the last year and have outdated security systems,
            opening up the doors to even more cyber attacks.
        </li>
        <li>
            Companies that play along can get otherwise classified intelligence data
            from the government, including private information about their competitors.
        </li>
    </ul>
</section>
