<div class="content dark">
    <section class="copy">
        <h2>Dial <a href="tel://19852222472">985-222-CISA</a> to call Congress now.</h2>
        <p>
            Internet users demand <em>meaningful</em> cybersecurity legislation, not more mass
            surveillance. Millions have already spoken out, and there's still time to
            send Congress a clear message. Please call your representatives, and share this page
            to spread the word!
        </p>
        {% include share.html %}
    </section>
</div>
