<div class="content">
    <h2><a href="/heroku"><strong>We are boycotting Salesforce / Heroku. Click here to learn more.</strong></a></h2>
    <p>
        What does it take for some of the biggest competitors in the tech industry
        to put their differences aside and
        <a href="http://www.bsa.org/~/media/Files/Policy/data/09142015CongLeadershipDataAgendaLetter.pdf" target="_blank">sign a letter</a>
        endorsing hugely unpopular surveillance
        legislation that's been lambasted by privacy groups and security experts?
        Sweeping legal immunity. Worse, these companies know that their
        customers hate CISA, and so they’re jumping into the water together, hoping
        there’s safety in numbers. After all, you can’t blame Microsoft if Apple is
        doing the same thing, right?
    </p>
    <p>
        In the letter, these companies didn't come right out and say they were endorsing CISA.
        Instead, they asked Congress to "act promptly" to pass "Cyber Threat Information Sharing
        Legislation." But these companies aren't stupid. They know that the Senate will vote on
        CISA soon, and will use this letter as cover to say the tech industry supports it.
    </p>
    <h3>What's wrong with CISA?</h3>
    <p>
        If you’re not up to speed, CISA is a mass surveillance bill posing as a
        “cybersecurity” bill. Congress has been blindly scrambling to react to the
        OPM hacks, and their solution is a giveaway to the NSA and giant corporations:
    </p>
    <ul>
        <li>
            All privacy policies effectively null and void. Companies can share any
            private user data with the government, without a warrant, as long as
            the government says it is being used for a “cybersecurity” purpose.
        </li>
        <li>
            Data is shared with a wide array of government agencies, from the FBI
            and NSA, to the IRS and local law enforcement.
        </li>
        <li>
            In exchange, companies are given blanket immunity from civil and criminal
            laws, like fraud, money laundering, or illegal wiretapping (if a
            violation was committed or exposed in the process of sharing data).
        </li>
        <li>
            Companies that play along can get otherwise classified intelligence data
            from the government, including private information about their competitors.
        </li>
    </ul>
    <h3>Learn more about CISA</h3>
    <p>
        <strong>
            <a href="https://www.eff.org/deeplinks/2015/09/amendments-cisa-cybersecurity-bill-fail-all-regards" target="_blank">EFF explains why the Amendments won't fix CISA</a>
        </strong>
    </p>
    <p>
        <strong>
            <a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank">55 civil groups, security experts, and academics explain why they oppose CISA</a>
        </strong>
    </p>
    <p>
        <strong>
            <a href="https://www.faxbigbrother.com/#whatiscisa">Fax Big Brother: why CISA sucks for online privacy</a>
        </strong>
    </p>
</div>
<div class="content dark">
    <h2>Dial <a href="tel://19852222472">985-222-CISA</a> to call Congress now.</h2>
    <h3></h3>
    <p>
        Internet users demand <em>meaningful</em> cybersecurity legislation, not more mass
        surveillance. Millions have already spoken out, and there's still time to
        send Congress a clear message. Please call your representatives, and share this page
        to spread the word!
    </p>
    <div class="share">
        <button class="social facebook">Share this page</button>
        <button class="social twitter">Tweet this page</button>
    </div>
</div>
