<div class="cta">
    <div class="copy">
    <h1>The following companies just betrayed billions of people.</h1>
    <p>
         (Update: see <a href="https://www.youbetrayedus.org/facebook/">youbetrayedus.org/facebook/</a>) 
    </p>

    </div>
    <div class="highlight">
        <div id="action">
            <h3>Tell them why they're on the wrong side of history.</h3>
            <div id="petition">As an Internet user I am appalled to learn that you are supporting deeply flawed information sharing legislation like CISA. You are betraying every single one of your customers by encouraging Congress to pass a bill that would decimate user privacy and security in exchange for sweeping legal immunity for companies like yours. If you don't want to lose the entire Internet's trust, immediately drop your support for bills like CISA.</div>
            <script type="text/javascript">
                new EmailPetitionController({
                    el:         '#petition',
                    page_id:    'youbetrayedus',
                    buttonText: 'Email them',
                    required: ['email', 'zip', 'first_name'],
                    orgs: { fftf: '<a href="https://www.fightforthefuture.org">Fight for the Future</a> will deliver your email and send you campaign updates. <a href="https://www.fightforthefuture.org/privacy">Privacy</a>' },
                    onSend: function(formData)
                    {
                        document.getElementById('action').style.display = 'none';
                        document.getElementById('thanks').style.display = 'block';

                        new CallModalController({
                            required:   ['email', 'name', 'zip'],
                            campaign:   'cisa-cloture-fax',
                            zip:        formData.zip,
                            cta:        'Congress needs to know that it doesn\'t matter what companies want—CISA isn\'t going to fly with the American people.',
                            callScript: 'Please oppose CISA, the Cybersecurity Information Sharing Act. CISA won\'t fix the cybersecurity problems we face in the U.S.—it will only lead to more warrantless mass surveillance of millions of Americans. We need real cybersecurity legislation, and it\'s not CISA.',
                            shareText:  'We\'re up against some of the most powerful corporate lobbyists in the country, but that hasn\'t stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.',
                        });
                    }
                });
            </script>
        </div>
        <div id="thanks" style="display: none;">
            <h3>Thanks for taking action!</h3>
            <p>
                We're up against some of the most powerful corporate lobbyists in the country, but that hasn't stopped us before. If a critical mass of citizens speak out against CISA, our voices will be impossible to ignore.
            </p>
            <div class="share">
                <button class="social facebook">Share this page</button>
                <button class="social twitter">Tweet this page</button>
            </div>
        </div>
    </div>
</div>

