<h3>Learn more about CISA</h3>
<ul class="learn-more">
    <li>
        <a href="https://www.decidethefuture.org" target="_blank">See where your
            Congresspeople stand on surveillance legislation
        </a>
    </li>
    <li>
        <a href="https://www.eff.org/deeplinks/2015/09/amendments-cisa-cybersecurity-bill-fail-all-regards" target="_blank">EFF
            explains why the Amendments won't fix CISA</a>
    </li>
    <li>
        <a href="https://www.newamerica.org/oti/coalition-letter-from-55-civil-society-groups-security-experts-and-academics-opposing-cisa/" target="_blank">55
            security experts, academics, and civil groups explain why
            they oppose CISA</a>
    </li>
    <li>
        <a href="https://www.faxbigbrother.com/#whatiscisa">Fax Big Brother: why
            CISA sucks for online privacy</a>
    </li>
</ul>
