<div id="thanks" style="display: none;">
    <h3>Thanks for taking action!</h3>

    <p>
        We're up against some of the most powerful corporate lobbyists in the
        country, but that hasn't stopped us before. If a critical mass of
        citizens speak out against CISA, our voices will be impossible to
        ignore.
    </p>

    <div class="share">
        <button class="social facebook">Share this page</button>
        <button class="social twitter">Tweet this page</button>
    </div>
</div>
