/*
* Everything is relative.
*
* Including this component. To resize, overwrite the font-size of
* div.share, button.social somewhere in your code.
*
* *****************
* Don't touch this.
* *****************
*/

div.share, button.social {
    font-size: 1.4rem;
}

div.share {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2.142857143em;
    display: inline-block;
    margin-bottom: 1.428571429em;
    padding: 1.428571429em 0.714285714em;
    @media screen and (min-width: @small-phone) {
        border-radius: 7.142857143em;
        padding: 0.714285714em;

    }
}

button.social {
    border: 0;
    border-radius: 7.142857143em;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, Geneva, Helvetica, sans-serif;
    font-weight: bold;
    height: 2.142857143em;
    line-height: 2;
    margin-left: 0.357142857em;
    margin-right: 0.357142857em;
    padding: 0 1em 0 2.857142857em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &::before {
        content: '';
        display: block;
        height: 1.428571429em;
        left: 1em;
        position: absolute;
        top: 0.357142857em;
        width: 1.428571429rem;
    }

    &.twitter {
        background: #51c9f0;

        &::before {
            background: url('../images/tw_white.png') center center no-repeat;
            background-size: 100% auto;
        }
    }
    &.facebook {
        background: #3b5a95;
        margin-bottom: 1.428571429em;

        @media screen and (min-width: @small-phone) {
            margin-bottom: 0;
        }
        &::before {
            background: url('../images/fb_white.png') center center no-repeat;
            background-size: 100% auto;
        }
    }

}
div.social-buttons {
    height: 115px;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 150px;
    width: 110px;
}

@media screen and (max-width: 1200px) {
    div.social-buttons {
        width: 33px;
    }
}
@media screen and (max-width:850px) {
    div.social-buttons {
        display: none;
    }
}

div.social-buttons a {
    background-repeat: no-repeat;
    display: block;
    height: 33px;
    font-family: Verdana, Helvetica, sans-serif;
    color: white;
    line-height: 33px;
    margin: 0 0 8px;
    padding: 0 0 0 37px;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

div.social-buttons a.facebook {
    background-color: #39579a;
    background-image: url(/images/social/icon-fb.gif);
}

div.social-buttons a.twitter {
    background-color: #02aced;
    background-image: url(/images/social/icon-twitter.gif);
}

div.social-buttons a.email {
    background-color: #14ac2b;
    background-image: url(/images/social/icon-email.gif);
}
